.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
}

.dropdown-content a {
    display: block;
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
 
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    
}
.header{
    margin-top: 0;
}
.menu {
    margin-top: 0;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.menu-title{
    padding-left: 40px;
    padding-right: 40px;
}

.logo{
    margin-top: 0;
    width: 200px;
    padding-right: 300px;

}

.item{
    margin: 0;
}